/* font  */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #e74c3c;
}

::selection {
  color: white;
  background: #e74c3c;
}

footer {
  background-color: black;
  color: white;
}

.logo {
  max-width: 100px;
}

.menu .menu-lists {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.menu-lists li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.menu-lists a {
  color: #333;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
}
.menu-lists a:before,
.menu-lists a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-lists a:before {
  bottom: 4px;
  display: block;
  height: 6px;
  width: 0%;
  content: "";
  background-color: rgba(245, 0, 0, 0.21);
}
.menu-lists a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: "";
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.menu-lists a:hover:before {
  opacity: 1;
  width: 100%;
}
.menu-lists a:hover:after {
  max-width: 100%;
}

.mobil-menu ul {
  background-color: rgb(229, 231, 235);
  padding: 20px;
}

.add-cart {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mobil-menu ul li a,
.mobil-menu ul li {
  display: block;
  width: 100%;
}

.mobil-menu ul li a {
  padding: 20px 0;
  font-size: 18px;
  color: #405861;
}

.mobil-menu {
  background-color: rgb(229, 231, 235);
  z-index: 999;
  animation: DownMenu ease;
  animation-duration: 0.7s;
}

@keyframes DownMenu {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 800px;
  }
}

.footer-menu ul li {
  padding: 7px 0;
}

.footer-menu ul li a {
  padding: 5px 0;
  width: 100%;
  display: block;
}

.footer-menu ul li:hover a {
  color: #576e76;
}

.footer-menu .social-icons ul li a {
  margin-right: 15px;
}

a {
  display: block;
}

.category-image {
  height: 400px;
}

.category-image img {
  width: 100%;
  height: 350px;
}

.top-ten {
  height: 500px;
}

.top-ten img {
  width: 100%;
  height: 450px;
}

/* loading */

.progress {
  position: relative;
  height: 5px;
  width: 100%;
}
.progress .color {
  position: absolute;
  background-color: black;
  width: 0px;
  height: 3px;
  animation: progres 4s infinite ease-in-out;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.loading-circle {
  opacity: 1;
  visibility: visible;
}

.product-image {
  user-select: none;
}

.cart-image {
  width: 80px;
  height: 80px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #95a5a6 !important;
}

@media only screen and (max-width: 450px) {
  .category-image {
    height: 200px;
  }

  .category-image img {
    width: 100%;
    height: 200px;
  }
  .top-ten-mobil {
    height: 250px;
  }

  .top-ten-mobil img {
    width: 100%;
    height: 200px;
  }
  .loading-circle {
    opacity: 0;
    visibility: hidden;
  }
}
